@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



.azeret-mono-normal {
  font-family: "Azeret Mono";
  font-optical-sizing: auto;
  font-style: normal;
}

/* Banner styles */
.banner-container{
  background-image: url('../images/Hero-bg.png');
  width: 1440;
  height: 652px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.banner-image{
    width: 240.28px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section, .inspiration-section{
  width: 998px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.banner-title, .inspiration-title{
  font-size: 48px;
  font-weight: 800;
  width: 998px;
  height: 136px;
  line-height: 68px;
  display: flex;
  text-align: center;
  color: rgb(13, 19, 33);
}
.banner-description, .inspiration-des{
  color: rgb(13, 19, 33);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.banner-btn{
  width: 208px;
  height: 66px;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin-top: 32px;
}
.btn-text{
  width: 160px;
  height: 24px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Development section styles */
.dev-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1140px;
  height: 1420px;
  margin: 74px 88px 148px 152px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
/* Card 1 styles */
.first-card, .second-card, .third-card{
  width: 946px;
  height: 300px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
}
.first-card-title, .second-card-title, .third-card-title{
  width: 390px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.first-card-description, .second-card-description, .third-card-description{
  width: 468px;
  height: 52px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.first-card-content, .second-card-content, .third-card-content{
  display: flex;
  justify-content: space-between;
  
}
.first-card-image, .second-card-image, .third-card-image{
  width: 259.56px;
  height: 217.01px;
}
.btn-2, .btn-3, .btn-4{
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
}
.btn-2-text, .btn-3-text, .btn-4-text{
  width: 110px;
  height: 24px;
  margin: 0px 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
}

/* Inspiration section styles */
.inspiration-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1140px;
  height: 777px;
  margin: 88px 149px 148px 152px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.inspiration-title{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  width: 852px;
  height: 39px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 24px auto;
}

/* YouTube section */
.youtube-section{
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.youtube-video{
  border-radius: 16px;
  margin: 10px auto;
}